*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
}
body::-webkit-scrollbar {
    display: none;
  }

.spacer{
    width: 100vw;
    min-height: 50vh;
    background-color: aqua;
}

.header{
    background-color: bisque;
    width: 100%;
}
.mainTitle{
    display: grid;
    place-items: center;
}
h1{
    padding: 1rem;

}

.headerContainer{
    background-color: lightblue;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.fixed{
    position: fixed;
    top: 0; 
}

.navbar{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    /* padding: 1rem; */
}
#postWrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 50px;
}
#postWrapper div{
   grid-column: 2 / 12;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color:antiquewhite
}



.postBody{
    display: none;
}


.visible{
    color: aqua;
    display: block;
}
.absolute{
    position: absolute;
}